/* Colors */
:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;
    --basic-background: #F1F5F7;
    
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --special-black: #32425C;

    --promo-delivery: #FFC047;
    --popular-head: #F9F5F0;
    --old-price: #A9A9A9;
    --popular-border: #EAEAEA;
    --service-hover: #293449;
    --navigation-active: #1D2739;
    --red-hover: #CA2C37;
    --footer-adress: #F3F7F9;
    --footer-list-top: #F1F5F7;
    --social-back: #212A3A;


    --success: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
    --white-opacity: rgba(255, 255, 255, 0.5);

    --linear-greylight: linear-gradient(#FFFFFF, #EAEAEA);
}

/* Global */
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: white;
    background-color: white;
}

.container {
    width: 940px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

.button {
    padding: 10px;
    background-color: var(--basic-red);
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    line-height: 18px;
}

.search:focus {
    background-color: white;
    color: black;
}

.header-top {
    background-color: var(--service-hover);
}

.site-description {
    width: 208px;
    color: var(--basic-red);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
}

.login-link,
.registration-link {
    background-color: white;
    color: black;
}

.header-word {
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.header-word:last-child {
    background-color: var(--basic-green);
}

.header-word:last-child:hover {
    background-color: var(--success);
}

.header-word:active {
    color: var(--white-opacity);
}

.phone-block {
    padding: 0 270px;
}

.header-phone {
    color: var(--basic-red);
    font-size: 21px;
    line-height: 30px;
}

.adress {
    color: var(--special-black);
    font-size: 14px;
    line-height: 24px;
}

/* Login */
.login-button {
    color: black;
    background-color: white;
    font-size: 21px;
    line-height: 21px;
}

.login-button:hover {
    color: var(--basic-red);
}

.login-button:active {
    color: var(--basic-greylight);
}

/* Navigation */
.site-navigation {
    list-style: none;
    background-color: var(--special-black);
}

.navigation-item,
.promo-item,
.footer-top li {
    display: inline;
}

.navigation-word {
    color: white;
    font-size: 18px;
    line-height: 24px;
}

.navigation-word:hover {
    background-color: var(--service-hover);
}

.navigation-word:active {
    color: var(--white-opacity);
    background-color: var(--navigation-active);
}

.body-header,
.body-footer {
    background-color: var(--basic-background);
}

/* Promo */
.promo-item {
    height: 30px;
    width: 60px;
    margin: 10px;
    background-color: var(--special-yellow);
}

.promo-button {
    padding: 5px;
    background-color: var(--white-opacity);
}

.promo-button:hover {
    background-color: var(--basic-greylight);
    opacity: 0.3;
}

.promo-button:active {
    background-color: var(--old-price);
    opacity: 0.3;
}

.materials {
    background-color: var(--special-yellow);
}

.devices {
    background-color: var(--special-blue);
}

.tech {
    background-color: var(--special-lilac);
}

.sale {
    background-color: var(--special-greenlight);
}

.delivery {
    background-color: var(--promo-delivery);
}

/* Slider */
.slider-name {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-synopsys {
    font-size: 18px;
    line-height: 24px;
}

.slider-open:hover {
    background-color: var(--red-hover);
}

.slider-open:active {
    background-color: var(--error);
}

.slider-button-right {
    transform: rotate(180deg);
}

/* Popular */
.popular-head {
    background-color: var(--popular-head);
}

.popular-head h2 {
    background-color: white;
    color: var(--basic-grey);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.new {
    font-size: 14px;
    line-height: 18px;
    background-color: var(--basic-red);
}

.goods-item {
    border: 1px solid var(--basic-greylight);
    height: 318px;
    width: 220px;
}

.goods-name {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    color: black;
    font-size: 18px;
    line-height: 20px;
}

.old-price {
    font-family: "PT Sans", Arial, sans-serif;
    color: var(--basic-greylight);
    text-decoration: line-through;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 18px;
}

.current-price {
    font-family: "PT Sans";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 18px;
    background-color: var(--basic-red);
}

.manufacturer {
    border: 1px solid var(--basic-greylight);
    height:145px;
    width: 220px;
}

/* Services */
.services {
    background-color: var(--basic-background);
}

.service-names {
    color: black;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.service-text {
    width: 396px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: black;    
}

.term-list,
.describe-list,
.footer-top ul {
    list-style: none;
}

.term-item {
    font-size: 21px;
    line-height: 30px;
    background-color: var(--special-black);
    width: 240px;
}

.term-item:hover {
    font-size: 21px;
    line-height: 30px;
    background-color: var(--service-hover);
    width: 240px;
}

.term-item:active {
    color: var(--basic-grey);
    font-size: 21px;
    line-height: 30px;
    background-color: white;
    width: 240px;
}

/* About */
.transport-item {
    color: black;
    font-size: 18px;
    line-height: 24px;
}

.main-contacts p {
    width: 181px;
}

/* Footer */
.footer-top {
    background-color: var(--special-black);
}

.footer-bottom {
    background-color: var(--service-hover);
}

.footer-contacts p {
    font-size: 18px;
    line-height: 24px;
    width: 323px;
}

.footer-contacts a {
    color: white;
}

.footer-navigation-top a {
    color: var(--footer-list-top);
    font-size: 18px;
    line-height: 24px;
}

.footer-navigation-bottom a {
    color: var(--special-yellowlight);
    font-size: 18px;
    line-height: 24px;
}

.footer-top a:hover {
    text-decoration: underline;
}

.footer-top a:active {
    opacity: 0.5;
}

.footer-bottom {
    font-size: 16px;
    line-height: 18px;
}

.footer-bottom p:first-child {
    width: 227px;
}

.social-button {
    background-color: var(--social-back);
    background-size: 44px 44px;
    border-radius: 50%;
    stroke-linecap: round;
}

.email {
    color: var(--special-yellowlight);
}

.email:hover {
    text-decoration: underline;
}

.email:active {
    color: var(--basic-red);
}