/* Colors */
:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;
    --basic-background: #F1F5F7;
    
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --special-black: #32425C;

    --promo-delivery: #FFC047;
    --popular-head: #F9F5F0;
    --old-price: #A9A9A9;
    --popular-border: #EAEAEA;
    --service-hover: #293449;
    --navigation-active: #1D2739;
    --red-hover: #CA2C37;
    --footer-adress: #F3F7F9;
    --footer-list-top: #F1F5F7;
    --social-back: #212A3A;
    --active-header: #161D29;
    --phone: #B7BFC8;
    --buy-hover: #367315;
    --buy-active: #518534;

    --success: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
    --white-opacity: rgba(255, 255, 255, 0.5);
    --promo-button: rgba(255, 255, 255, 0.3);
    --promo-button-hover: rgba(197, 197, 197, 0.3);
    --promo-button-active: rgba(169, 169, 169, 0.3);

    --linear-greylight: linear-gradient(#FFFFFF, #EAEAEA);
}

/* Global */
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: white;
    background-color: white;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.body-header {
    display: grid;
    background-color: var(--basic-background);
    gap: 43px;
}

.button {
    background-color: var(--basic-red);
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.red-button {
    width: 192px;
    height: 38px;
}

.red-button:hover {
    background-color: var(--red-hover);
}

.red-button:active {    
    background-color: var(--error);
}

/* Header Top */
.header-top {
    background-color: var(--service-hover);
    height: 42px;
}

.header-top .container {
    display: grid;
    grid-template-columns: 220px auto 150px 150px 150px;
    align-items: center;
}

.head-line img {
    padding: 12px 57px 17px 55px;
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.search {
    height: 42px;
    padding-left: 17px;
    display: flex;
    align-self: stretch;
    align-items: center;
    position: relative;
}

.search svg {
    padding-right: 8px;
}

.search path {
    fill-opacity: 0.3;
}

.search:hover path {
    fill-opacity: 1;
}

.search:focus path {
    fill: red;
    fill-opacity: 1;
}

.search:focus {
    background-color: white;
    color: black;
}

.header-word {
    font-size: 18px;
    line-height: 24px;
    color: white;
    position: relative;
}

.header-word:not(:first-of-type) {
    display: flex;
    align-self: stretch;
    align-items: center;
    height: 42px;
}

.bookmark {
    padding-left: 43px;
}

.cart {
    padding-left: 49px;
}

.bookmark::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-bookmark.svg");
    top: 13px;
    left: 20px;
    width: 14px;
    height: 16px;
    opacity: 0.3;
}

.cart::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-cart.svg");
    top: 13px;
    left: 26px;
    width: 15px;
    height: 15px;
    opacity: 0.3;
}

.bookmark:hover::before,
.cart:hover::before {
    opacity: 1;
}

.bookmark:active,
.cart:active {
    color: var(--white-opacity);
    background-color: var(--active-header);
}

.bookmark:active::before,
.cart:active::before {    
    opacity: 0.3;
}

.header-word:last-child {
    background-color: var(--basic-green);
    justify-content: center;
}

.header-word:last-child:hover {
    background-color: var(--success);
}

.header-word:last-child:active {
    color: var(--white-opacity);
    background-color: var(--basic-green);
    
}

/* Header Middle */
.middle-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.site-description {
    width: 208px;
    color: var(--basic-red);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    margin: 2px 0 0 30px;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    justify-self: left;
    align-items: center;
    padding-left: 7px;
}

.header-phone {
    color: var(--basic-red);
    font-size: 21px;
    line-height: 30px;
    padding: 4px 49px 5px 71px;
    border: 3px solid white;
    position: relative;
    margin-top: 3px;
}

.header-phone::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    background-image: url("../img/icon-phone.svg");
    top: 10px;
    left: 36px;
}

.adress {
    color: var(--special-black);
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-top: 3px;
}

/* Login */
.login-button {
    color: black;
    background-color: white;
    font-size: 21px;
    line-height: 21px;
    display: inline-block;
}

.login-registration {
    margin-left: auto;
    display: flex;
    align-items: flex-start;
    padding-top: 3px;
}

.login-link,
.registration-link {
    background-color: white;
    color: black;
}

.login-link {
    position: relative;
    padding: 12px 28px 12px 45px;
}

.registration-link {
    padding: 12px 24px;
    margin-left: 10px;
}

.login-link svg {
    position: absolute;
    width: 20px;
    height: 17px;
    top: 14px;
    left: 19px;
}

.login-button:hover,
.login-button:hover path {
    color: var(--basic-red);
    fill: var(--basic-grey);
}

.login-button:active,
.login-button:active path {
    color: var(--basic-greylight);
    fill: var(--basic-greylight);
}

/* Navigation */
.site-navigation {
    background-color: var(--special-black);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 60px;
    min-height: 60px;
    box-shadow: inset 0px -5px 0px var(--service-hover);
}

.navigation-item {
    padding: 16px 24px 20px 27px;
}

.navigation-item:first-child {
    padding-left: 47px;
}

.navigation-item:last-child {
    padding-right: 47px;
}

.navigation-word {
    color: white;
    display: block;
    font-size: 18px;
    line-height: 24px;
}

.navigation-item:hover {
    background-color: var(--service-hover);
}

.navigation-item:active {
    color: var(--white-opacity);
    background-color: var(--navigation-active);
}

.body-footer {
    background-color: var(--basic-background);
}

.main-container {
    padding: 59px 0 0;
    
}

/* Promo */
.promo {
    display: grid;
    padding: 0;
    margin-bottom: 59px;
}

.promo-top {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.promo-item {
    background-color: var(--special-yellow);
    box-sizing: border-box;
    padding: 20px 23px 21px;
    position: relative;
}

.promo-item b {
    display: block;
    margin-bottom: 14px;
}

.promo-item img {
    position: absolute;
}

.promo-button {
    display: inline-block;
    width: 135px;
    padding: 10px;
    background-color: var(--promo-button);
    text-align: center;
    box-sizing: border-box;
}

.promo-button:hover {
    background-color: var(--promo-button-hover);
}

.promo-button:active {
    background-color: var(--promo-button-active);
    opacity: 0.3;
}

.materials {
    background-color: var(--special-yellow);
}

.devices {
    background-color: var(--special-blue);
}

.tech {
    background-color: var(--special-lilac);
}

.slider {
    position: relative;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.slider img {
    display: block;
}

.sale {
    background-color: var(--special-greenlight);
    grid-row: 2 / 3;
}

.delivery {
    background-color: var(--promo-delivery);
    grid-row: 3 / 4;
}

/* Promo-Images */
.goods-item:nth-child(2n)::after,
.materials::before {
    position: absolute;
    content: "";
    background-image: url("../img/catalog-new.svg");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    top: 0;
    right: 0;
}

.materials::after {
    position: absolute;
    content: "";
    background-image: url("../img/materials.svg");
    background-repeat: no-repeat;
    width: 44px;
    height: 65px;
    top: 31px;
    right: 43px;
}

.devices::after {
    position: absolute;
    content: "";
    background-image: url("../img/devices.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 61px;
    top: 34px;
    right: 31px;
}

.tech::after {
    position: absolute;
    content: "";
    background-image: url("../img/vehicle.svg");
    background-repeat: no-repeat;
    width: 78px;
    height: 62px;
    top: 31px;
    right: 31px;
}

.sale::after {
    position: absolute;
    content: "";
    background-image: url("../img/sale.svg");
    background-repeat: no-repeat;
    width: 59px;
    height: 72px;
    top: 26px;
    right: 45px;
}

.delivery::after {
    position: absolute;
    content: "";
    background-image: url("../img/delivery.svg");
    background-repeat: no-repeat;
    width: 78px;
    height: 63px;
    top: 32px;
    right: 31px;
}

/* Slider */
.slider-head {
    position: absolute;
    width: 620px;
    height: 104px;
    background-color: rgba(0, 0, 0, 0.25);
}

.slider-name {
    position: absolute;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    top: 23px;
    left: 24px;
    margin: 0;
}

.slider-synopsys {
    position: absolute;
    font-size: 18px;
    line-height: 24px;
    top: 64px;
    left: 24px;
    margin: 0;
}

.slider-button {
    position: absolute;
    content: "";
    background-image: url("../img/icon-left.svg");
    width: 22px;
    height: 40px;
    background-color: transparent;
    border: none;
}

.slider-button:focus {
    outline: none;
}

.slider-left {
    left: 24px;
    bottom: 104px;
}

.slider-right {    
    right: 20px;
    bottom: 104px;
    transform: rotate(180deg);
}

.slider-open {
    position: absolute;
    left: 24px;
    bottom: 27px;
}

.slider-open::before {
    position: absolute;
}

.slider-dots {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 35px;
    left: 294px;
    min-width: 30px;
}

.slider-page {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    color: white;
    border: none;
}

.slider-page:not(:last-child) {
    margin-right: 8px;
}

.slider-page:focus {
    outline: none;    
}

/* Popular */
.popular {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    margin-bottom: 70px;
}

.popular-head {
    background-color: var(--popular-head);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
    padding-right: 14px;
    box-sizing: border-box;
    height: 89px;
}

.popular-head h2 {
    color: var(--basic-grey);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 2px;
}

.popular-head a {
    width: 192px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 1px;
}

.goods-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.goods-item {
    position: relative;
    border: 1px solid var(--popular-border);
    height: 318px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-right: 6px;
    padding-bottom: 20px;
}

.goods-item:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.goods-item:hover .item-hover-buy{
    display: flex;
}

.goods-img {
    width: 218px;
    height: 181px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-name {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    color: black;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    max-width: 185px;
    margin-left: 5px;
    margin-bottom: 7px;
}

.old-price {
    font-family: "PT Sans", Arial, sans-serif;
    color: var(--old-price);
    text-decoration: line-through;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    margin: auto 0 7px 15px;
    margin-top: auto;
    margin-bottom: 15px;
    margin-left: 7px;
}

.current-price {
    position: relative;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 18px;
    background-color: var(--basic-red);
    text-align: center;
    padding: 10px 24px 10px 32px;
    border-radius: 3px 0 0 3px;
}

.current-price::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    border: 19px solid transparent;
    border-left: 19px solid var(--basic-red);
}

.item-hover-buy {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    width: 218px;
    height: 181px;
    align-items: center;
    padding-top: 38px;
    background-color: white;
    box-sizing: border-box;
}

.item-hover-buy a {
    width: 135px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    box-sizing: border-box;
}

.buy {
    position: relative;
    color: white;
    margin-bottom: 10px;
    padding: 10px 12px 10px 54px;
    background: var(--basic-green);
    box-shadow: inset 0px -3px 0px #367315;
    border-radius: 2px;
    border: none;
}

.buy::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-cart.svg");
    top: 10px;
    left: 30px;
    width: 15px;
    height: 15px;
    opacity: 0.3;
}

.buy:hover {
    background: var(--success);
    box-shadow: inset 0px -3px 0px var(--buy-hover);
}

.buy:active {
    background: var(--buy-active);
    box-shadow: inset 0px -3px 0px var(--buy-hover);
}

.wishlist {
    color: var(--special-black);
    background-color: white;
    border: 3px solid var(--basic-green);
    padding: 8px 31px 6px 30px;
    border-radius: 2px;    
}

.wishlist:hover {
    border: 3px solid var(--special-black);
}

.wishlist:active {
    border: 3px solid var(--special-black);
    opacity: 0.5;
}

.all-manufacturers {
    margin-bottom: 2px;
    margin-right: 5px;
}

.manufacturers-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.manufacturer {
    border: 1px solid var(--basic-greylight);
    height:145px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.manufacturer:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.manufacturer:active {
    opacity: 0.5;
}

.bosch {
    padding-top: 8px;
}

.Makita {
    padding-top: 2px;
}

.DeWalt {
    padding-top: 2px;
}

.Interskol {
    padding-top: 6px;
}

.Hitachi {
    padding-top: 9px;
    padding-left: 5px;
}

.LG {
    padding-top: 6px;
}

.AEG {
    padding-top: 9px;
}

.Metabo {
    padding-top: 7px;
}

/* Services */
.services {
    background-color: var(--basic-background);
}

.services .container {
    padding: 64px 0 99px;
}

.service-name {
    color: black;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
}

.service-text {
    width: 460px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: black;
    margin-bottom: 1px;
}

.service-container {
    display: flex;
    margin-top: 70px;
}

.describe-list {
    padding-left: 80px;
    width: 100%
}

.term-list,
.describe-list,
.footer-top ul {
    list-style: none;
}

.term-list {
    position: relative;
}

.term-list::after {
    content: "";
    position: absolute;
    background-image: url("../img/shadow.png");
    top: -49px;
    right: 0;
    width: 10px;
    height: 279px;
}

.term-item {
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    background-color: var(--special-black);
    width: 240px;
    display: block;
    padding: 15px 20px 18px;
    box-sizing: border-box;
}

.term-item:hover {
    font-size: 21px;
    line-height: 30px;
    color: white;
    background-color: var(--service-hover);
    width: 240px;
}
.active-term,
.term-item:active {
    color: var(--basic-grey);
    font-size: 21px;
    line-height: 30px;
    background-color: white;
    width: 240px;
}

.describe-item h3 {
    color: var(--special-black);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
}

/* About */
.about {
    display: grid;
    grid-template-columns: auto 300px;
    padding: 70px 0;
}

.main-info {
    display: flex;
    flex-direction: column;
}

.service-name {
    margin-bottom: 24px;
}

.about-text {
    width: 460px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: black;
    margin-top: 0;
    margin-bottom: 1px;
}

.about-text:first-of-type {
    margin-bottom: 26px;
}

.describe-item {
    position: relative;
}

.describe-item::after {
    content: "";
    position: absolute;
    background-image: url("../img/Service-Delivery.svg");
    top: 22px;
    right: 0;
    width: 468px;
    height: 216px;
}

.service-text {
    margin-top: 0;
    margin-bottom: auto;
    font-size: 13px;
    line-height: 24px;
}

.describe-item .service-text {
    max-width: 275px;
    margin-bottom: 0;
}

.transport-item {
    position: relative;
    color: black;
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 11px;
    padding-left: 37px;
}

.transport-item::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 11px;
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
}

.main-contacts p {
    width: 181px;
    margin-bottom: 32px;
}

.main-contacts img {
    display: block;
}

.about-button {
    width: 220px;
    margin-top: auto;
}

.lost-button {
    width: 100%;
    margin-top: 24px;
}

/* Footer */
.body-footer {
    display: grid;
}

.footer-top {
    background-color: var(--special-black);
}

.footer-top .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-bottom {
    background-color: var(--service-hover);
}

.footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
}

.footer-contacts img {
    background-color: var(--basic-red);
    padding: 20px 41px 25px;
    margin-bottom: 22px;    
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-contacts p {
    font-size: 18px;
    line-height: 24px;
    width: 323px;
    margin-top: 0;
    margin-bottom: 54px;
    align-items: center;
}

.footer-contacts a {
    color: white;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-navigation-top {
    display: flex;
    width: 547px;
    justify-content: space-between;
    margin: 33px 0 28px;
}

.footer-navigation-top a {
    color: var(--footer-list-top);
    font-size: 18px;
    line-height: 24px;
}

.footer-navigation-bottom {
    display: flex;
    width: 524px;
    justify-content: space-between;
}

.footer-navigation-bottom a {
    color: var(--special-yellowlight);
    font-size: 18px;
    line-height: 24px;
}

.footer-top a:hover {
    text-decoration: underline;
}

.footer-top a:active {
    opacity: 0.5;
}

.footer-bottom {
    font-size: 16px;
    line-height: 18px;
}

.footer-bottom p {
    margin: 0;
}

.copy {
    width: 227px;
}

.social {
    display: flex;
    min-width: 139px;
    justify-content: space-evenly;
    margin-top: 36px;
    margin-bottom: 29px;
    padding-left: 44px;
}

.social-button {
    background-color: var(--social-back);
    height: 41px;
    width: 41px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-button:hover,
.social-button:active {
    background-color: var(--basic-red);
}

.feedback {    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
}

.feedback p:last-child {
    margin-left: 55px;
    margin-right: 11px;
}

.email {
    color: var(--special-yellowlight);
    display: block;
}

.email:hover {
    text-decoration: underline;
}

.email:active {
    color: var(--basic-red);
}