/* Colors */
:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;
    --basic-background: #F1F5F7;
    
    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --special-black: #32425C;

    --promo-delivery: #FFC047;
    --popular-head: #F9F5F0;
    --old-price: #A9A9A9;
    --popular-border: #EAEAEA;
    --service-hover: #293449;
    --navigation-active: #1D2739;
    --red-hover: #CA2C37;
    --footer-adress: #F3F7F9;
    --footer-list-top: #F1F5F7;
    --social-back: #212A3A;


    --success: #5FBB2D;
    --warning: #FFBF47;
    --error: #BA2732;
    --white-opacity: rgba(255, 255, 255, 0.5);

    --linear-greylight: linear-gradient(#FFFFFF, #EAEAEA);
}

/* Global */
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: white;
    background-color: white;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.body-header {
    display: grid;
    background-color: var(--basic-background);
    gap: 45px;
}

.button {
    background-color: var(--basic-red);
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.red-button {
    width: 192px;
    height: 38px;
}

.search:focus {
    background-color: white;
    color: black;
}

.header-top {
    background-color: var(--service-hover);
    height: 42px;
}

.header-top .container {
    display: grid;
    grid-template-columns: 220px auto 150px 150px 150px;
    align-items: center;
}

.head-line img {
    padding: 12px 57px 12px 55px;
    background-color: var(--basic-red);
}

.middle-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.site-description {
    width: 208px;
    color: var(--basic-red);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 0 30px;
}

.login-registration {
    margin-left: auto;
    display: flex;
    align-items: flex-start;
}

.login-link,
.registration-link {
    background-color: white;
    color: black;
}

.login-link {
    padding: 12px 27px 12px 45px;
}

.registration-link {
    padding: 12px 24px;
    margin-left: 10px;
}

.header-word {
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.header-word:not(:first-of-type) {
    text-align: center;
}

.header-word:last-child {
    background-color: var(--basic-green);
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-word:last-child:hover {
    background-color: var(--success);
}

.header-word:active {
    color: var(--white-opacity);
}

.header-contacts {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.header-phone {
    color: var(--basic-red);
    font-size: 21px;
    line-height: 30px;
    padding: 4px 42px 5px 71px;
    border: 3px solid white;
}

.adress {
    color: var(--special-black);
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

/* Login */
.login-button {
    color: black;
    background-color: white;
    font-size: 21px;
    line-height: 21px;
    display: inline-block;
}

.login-button:hover {
    color: var(--basic-red);
}

.login-button:active {
    color: var(--basic-greylight);
}

/* Navigation */
.site-navigation {
    background-color: var(--special-black);
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 60px;
}

.navigation-item {
    padding: 16px 24px 20px 27px;
}

.navigation-item:first-child {
    padding-left: 52px;
}

.navigation-item:last-child {
    padding-right: 47px;
}

.navigation-item a {
    display: block;
}

.navigation-word {
    color: white;
    font-size: 18px;
    line-height: 24px;
}

.navigation-item:hover {
    background-color: var(--service-hover);
}

.navigation-item:active {
    color: var(--white-opacity);
    background-color: var(--navigation-active);
}

.body-footer {
    background-color: var(--basic-background);
}

.main-container {
    /* display: grid;
    grid-template-rows: auto auto auto; */
    padding: 59px 0 70px;
    
}

/* Promo */
.promo {
    display: grid;
    padding: 0;
    margin-bottom: 59px;
}

.promo-top {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.promo-item {
    background-color: var(--special-yellow);
    box-sizing: border-box;
    padding: 20px 23px 21px;
}

.promo-item b {
    display: block;
    margin-bottom: 14px;
}

.promo-item img {
    position: absolute;
}

.promo-button {
    display: inline-block;
    width: 135px;
    padding: 10px;
    background-color: var(--white-opacity);
    text-align: center;
    box-sizing: border-box;
}

.promo-button:hover {
    background-color: var(--basic-greylight);
    opacity: 0.3;
}

.promo-button:active {
    background-color: var(--old-price);
    opacity: 0.3;
}

.materials {
    background-color: var(--special-yellow);    
}

.devices {
    background-color: var(--special-blue);
}

.tech {
    background-color: var(--special-lilac);
}

.slider {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.slider img {
    display: block;
}

.sale {
    background-color: var(--special-greenlight);
    grid-row: 2 / 3;
}

.delivery {
    background-color: var(--promo-delivery);
    grid-row: 3 / 4;
}

/* Slider */
.slider-name {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-synopsys {
    font-size: 18px;
    line-height: 24px;
}

.slider-open:hover {
    background-color: var(--red-hover);
}

.slider-open:active {
    background-color: var(--error);
}

.slider-button-right {
    transform: rotate(180deg);
}

/* Popular */
.popular {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    margin-bottom: 70px;
}

.popular-head {
    background-color: var(--popular-head);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
    padding-right: 14px;
    box-sizing: border-box;
}

.popular-head h2 {
    color: var(--basic-grey);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.popular-head a {
    width: 192px;
    text-align: center;
    box-sizing: border-box;
}

.new {
    font-size: 14px;
    line-height: 18px;
    background-color: var(--basic-red);
}

.goods-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.goods-item {
    border: 1px solid var(--basic-greylight);
    height: 318px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.goods-name {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    color: black;
    font-size: 18px;
    line-height: 20px;
}

.old-price {
    font-family: "PT Sans", Arial, sans-serif;
    color: var(--basic-greylight);
    text-decoration: line-through;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 18px;
}

.current-price {
    font-family: "PT Sans";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 18px;
    background-color: var(--basic-red);
}

.popular-manufacturers {
    margin-bottom: 0;
}

.manufacturers-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.manufacturer {
    border: 1px solid var(--basic-greylight);
    height:145px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

/* Services */
.services {
    background-color: var(--basic-background);
}

.services .container {
    padding: 70px 0;
}

.service-name {
    color: black;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
}

.service-text {
    width: 460px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: black;
    margin-bottom: 1px;
}

.service-container {
    display: flex;
    margin-top: 70px;
}

.describe-list {
    padding-left: 80px;
    width: 100%
}

.term-list,
.describe-list,
.footer-top ul {
    list-style: none;
}

.term-item {
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    background-color: var(--special-black);
    width: 240px;
    display: block;
    padding: 13.5px 20px 17.5px;
    box-sizing: border-box;
}

.term-item:hover {
    font-size: 21px;
    line-height: 30px;
    background-color: var(--service-hover);
    width: 240px;
}
.active-term,
.term-item:active {
    color: var(--basic-grey);
    font-size: 21px;
    line-height: 30px;
    background-color: white;
    width: 240px;
}

.describe-item h3 {
    color: var(--special-black);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
}

/* About */
.about {
    display: grid;
    grid-template-columns: auto 300px;
    padding: 70px 0;
}

.main-info {
    display: flex;
    flex-direction: column;
}

.service-name {
    margin-bottom: 24px;
}

.about-text {
    width: 460px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: black;
    margin-top: 0;
    margin-bottom: 1px;
}

.about-text:first-of-type {
    margin-bottom: 26px;
}

.describe-item {
    position: relative;
}

.describe-item::after {
    content: "";
    position: absolute;
    background-image: url("../img/Service-Delivery.svg");
    top: 22px;
    right: 0;
    width: 468px;
    height: 216px;
}

.service-text {
    margin-top: 0;
    margin-bottom: auto;
    font-size: 13px;
    line-height: 24px;
}

.describe-item .service-text {
    max-width: 275px;
    margin-bottom: 0;
}

.transport-item {
    color: black;
    font-size: 18px;
    line-height: 25px;
}

.transport-item {
    margin-top: 7px;
}

.main-contacts p {
    width: 181px;
    margin-bottom: 32px;
}

..main-contacts img {
    display: block;
}

.about-button {
    width: 220px;
    margin-top: auto;
}

.lost-button {
    width: 100%;
    margin-top: 25px;
}

/* Footer */
.body-footer {
    display: grid;
}

.footer-top {
    background-color: var(--special-black);
}

.footer-top .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-bottom {
    background-color: var(--service-hover);
}

.footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
}

.footer-contacts img {
    background-color: var(--basic-red);
    padding: 20px 41px 25px;
    margin-bottom: 22px;
}

.footer-contacts p {
    font-size: 18px;
    line-height: 24px;
    width: 323px;
    margin-top: 0;
    margin-bottom: 54px;
    align-items: center;
}

.footer-contacts a {
    color: white;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-navigation-top {
    display: flex;
    width: 547px;
    justify-content: space-between;
    margin: 37px 0 34px;
}

.footer-navigation-top a {
    color: var(--footer-list-top);
    font-size: 18px;
    line-height: 24px;
}

.footer-navigation-bottom {
    display: flex;
    width: 524px;
    justify-content: space-between;
}

.footer-navigation-bottom a {
    color: var(--special-yellowlight);
    font-size: 18px;
    line-height: 24px;
}

.footer-top a:hover {
    text-decoration: underline;
}

.footer-top a:active {
    opacity: 0.5;
}

.footer-bottom {
    font-size: 16px;
    line-height: 18px;
}

.footer-bottom p {
    margin: 0;
}

.copy {
    width: 227px;
}

.social {
    display: flex;
    margin-top: 34px;
    margin-bottom: 29px;
}

.social-button {
    background-color: var(--social-back);
    height: 44px;
    width: 44px;
    border-radius: 50%;
    stroke-linecap: round;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback {    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
}

.feedback p:last-child {
    margin-left: 51px;
}

.email {
    color: var(--special-yellowlight);
    display: block;
}

.email:hover {
    text-decoration: underline;
}

.email:active {
    color: var(--basic-red);
}